@import url("/Public/Fonts/Oswald-VariableFont_wght.ttf");
@import url("/Public/Fonts/PTSans-Regular.ttf");

* {
  margin: 0;
  padding: 0;
}

html {
  color: #444444;
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

strong {
  color: #001838;
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
}

.container {
  width: 1100px;
  margin: auto;
}

.container-fluid {
  width: 100%;
}




/* navigation */
header {
  background: white;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: relative;
}

.logo {
  text-decoration: none;
  color: #001838;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}

.navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar div .nav_link {
  text-decoration: none;
  color: #001838;
  text-align: center;
  padding: 1.3em .8em;
  transition-duration: .3s;
}

.navbar div .nav_link:hover {
  background-color: #001838;
  color: white;
  transition-duration: .4s;
}


/* Style section formulaire */

.main_section {
  background: linear-gradient(180deg,#011f39 0%,#001838 100%);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_bar {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 3px #0000000e;
}

.form_label {
  margin-left: 2em;
  width: 350px;
}

.form_search_section {
  width: 220px;
}

.form_select_section {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 350px;
}

.form_input {
  border-radius: 4px 4px 0 0;
  background-color: #00183805;
  border: none;
  border-bottom: .1em solid rgb(197, 197, 197);
  width: 100%;
  height: 40px;
}

.form_input:focus {
  outline: none;
  background-color: #0018380a;
  border-bottom: .1em solid #001838;
}

.form_input::placeholder {
  color: #001838;
  font-family: 'PT Sans', sans-serif;

}

.connect_main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,#011f39 0%,#001838 100%);
}

.connect_form {
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  width: 300px;
}

.connect_form h2 {
  color: #001838;
  margin-top: 1em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.connect_form div {
  margin: .5em;
}

.connect_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.2em;
  text-align: center;
}

.connect_input .form_input {
  margin: .8em 0;
}

.connect_button .form_button {
  width: 100%;
}

.form_button {
  border-radius: 8px;
  padding: 1em 3em;
  border: none;
  color: white;
  transition-duration: .3s;
  background: linear-gradient(180deg,#011f39 0%,#001838 100%);
}

.form_button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px 2px #00183842;
  transition-duration: .4s;
}

.connect_input .no_account {
  background: #2a60a7;
  text-decoration: none;
}

.connect_form .forgot {
  margin-bottom: 2em;
}


/* formulaire création de compte */
.connect_main .create_form {
  width: 600px;
}

.connect_main .create_form .form_input {
  margin: 0 .8em;
}

.form_create_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.create_form_controls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create_form_controls .no_account {
  background-color: red;
}



/* Style liste articles */
.card {
  margin: 1em 1em;
  list-style: none;
  width: 500px;
  height: 220px;
  border: .1em solid #00183827;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  
}

.card .card_image {
  margin-right: 1em;
  object-fit: cover;
  width: 240px;
  height: 220px;
  border-right: .1em solid #00183827;
}

.card_text_section {
  padding-top: .5em;
  padding-bottom: 1em;
  position: relative;
}

.card_text_title a {
  text-decoration: underline;
  color: #001838;
}

.card_text_title a:hover {
  color: #2a60a7;
}

.card_text_content ul {
  padding: 0;
  margin-top: .8em;
  list-style: none
}

.card_text_footer {
  position: absolute;
  bottom: .3em;
  color: #001838;
}

.card_text_footer a {
  font-weight: bold;
  text-decoration: underline;
}

.card_text_footer a:hover {
  color: #2a60a7;
  cursor: pointer;
}

.card_deck {
  margin-top: 3em;
  margin-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

/* Profil */
.profil_table {
	width: 300px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 4px;
    padding: 2rem 1.5rem;
    box-shadow: 1px 1px 10px 1px #0018384a;     	
}

.container div .form_button {
	text-align:center;
}



footer {
  background-color: #272a36;
}

footer div {
  text-align: center;
  padding: .8em;
  color: white;
}

footer div a {
  color: white;
}

.erreurs {
	color: red;
    background: #ffcccc;
    padding: 1rem 1rem;
    border-radius: 4px;
    position: absolute;
    width: 280px;
    line-height: 1.4rem;
    top: 100px;
    margin: auto;
    left: 0;
    right: 0;
}

.erreurs>ul {
	margin-top: 2rem;
}

.erreurs>ul>li {
	margin-left: 1rem;
}

.erreurs>a {
	float:right;
	color: red;
}



/* Style afficher une enchère */
.darkblue_main {
  background: linear-gradient(180deg,#011f39 0%,#001838 100%);
}

.white_title {
  padding: 2rem;
  font-size: 2em;
  text-align: center;
  color: white;
}

.flex_cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.auction_image {
  margin-right: 2em;
  object-fit: cover;
  width: 240px;
  height: 260px;
  border-right: .1em solid #00183827;
}

.auction_description {
  color: #e9e9e9;
}

.auction_description h2 {
  margin-bottom: 1em;
}

.auction_table_titles {
  width: 150px;
  font-weight: bold;
}

.auction_description td {
  padding: 0.5em 0em;
  vertical-align: top;
  text-align: justify;
}

.auction_no_bet {
  padding: 2em 0em;
  font-style: italic;
}

.form_input_light {
  border-radius: 4px;
  background-color: buttonhighlight;
  border: none;
  border-bottom: 0em solid rgb(197, 197, 197);
  height: 30px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #3b3b3b;
}

.form_input_light:focus {
  outline: none;
  background-color: #e3e3e3;
}

.form_button_light {
  border-radius: 8px;
  padding: 0em 1.5em;
  border: none;
  height: 30px;
  color: white;
  font-size: 1.3em;
  transition-duration: .3s;
  background: green;
  font-weight: bold;
}

.form_button_light:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px 2px #004d00;
  transition-duration: .4s;
}

.article_form {
	display: flex;
	flex-direction: row;
}

.article_form .article_form_img {
	width: 500px;
	height: 100%;
	overflow: hidden;
}

.article_form_fieldset {
	padding: 1rem;
	border-radius: 4px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.article_form input {
	padding-left: .5rem;	
}

.article_form_fieldset label {
	margin-left: .5rem;
}

.article_form_fieldset legend {
	text-align: center;
	font-weight: bold;
}

.article_form_fieldset input {
	padding-left: .5rem;
}

.article_form_fieldset select {
	padding-left: .5rem;
}

.article_form_input_section {
	width: 100%;
}

.article_form_img>img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.article_form_buttons {
	width: 100%;
	text-align: right;
}

.dark_bg {
	background: linear-gradient(180deg,#011f39 0%,#001838 100%);
}

.article_new_form {
	background: white;
	padding: 5rem 3rem 2rem;
	border-radius: 8px;
	margin-top: 4rem;
}